.block-entity{
    border-radius: 20px; 
    padding: 10px;
    background-color: rgb(117, 106, 214);
    margin-left: 10px;
    margin-top: 10px;
    display:inline-block;
    font-size:0.75em;
    font-weight: bold;
    color:white;
    text-align: center;
}

.block-evidence-list{
    margin-top:20px;
}

.block-evidence{
    border: 1px solid rgb(67, 248, 218);
    padding: 10px;
    box-shadow: 5px 10px darkcyan;
    border-radius:10px;
    background: rgb(67, 248, 218);
    margin-bottom:10px;
}

.block-evidence-title{
    font-size:0.8em;
}

.block-evidence-subtitle{
    font-size:0.7em;
    margin-top:4px;
}

.block-datetime{
    border-radius: 10px; 
    padding: 10px;
    background-color: rgb(221, 52, 193);
    margin-bottom:10px;
    margin-left: 10px;
    display:inline-block;
    font-size:0.85em;
    font-weight: bold;
    color:white;
    text-align: center;
}
.block-text{
    margin-left: 12px;
}

.block-title{
    text-align: center;
    color: darkcyan;
}

.block-summary{
    text-align: justify;
    font-family: sans-serif;
}

.block-div{
    max-height: 100%;
    overflow: auto;
    padding: 5px;
}

.hover-template{
    left: 0px !important;
}

.view-block-option-list{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}
