.draft-add-new-entity-container{
    display:flex; 
    flex-direction:row;
    margin-top:1em;
    margin-bottom:0.5em;
    height:auto;
}

.addEntityButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1em;
    margin-top:0;
    size:2.6em;
    border:none;
}

.cancelBlockButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1em;
    margin-top:0;
    size:2.6em;
    border:none;
}