.shareContainer{
    display:flex;
}

.shareIcons{
    float:left;
    margin: 10px;
    cursor: pointer;
}

.share-section-heading{
    margin-top:30px; 
    font-weight:500;
    margin-left:10px; 
    font-size:1.3em;
    margin-bottom:10px; 
}

.share-url{
    margin-left:10px; 
    font-size:0.85em;
}

.share-tooltips{
    cursor: pointer; 
    color: rgb(0, 76, 78);
    margin: 0 5px 0 5px;
}
