.shareContainer{
    display:flex;
}

.shareIcons{
    float:left;
    margin: 10px;
    cursor: pointer;
}

.share-section-heading{
    margin-top:30px; 
    font-weight:500;
    margin-left:10px; 
    font-size:1.3em;
    margin-bottom:10px; 
}

.share-url{
    margin-left:10px; 
    font-size:0.85em;
}

.share-tooltips{
    cursor: pointer; 
    color: rgb(0, 76, 78);
    margin: 0 5px 0 5px;
}

.unpublishBlockprobeButton{
    background:rgb(252, 31, 31);
    color:rgb(219, 243, 242);
    margin-left:1em;
    margin-top:0;
    size:2.6em;
    border:none;
}

.unpublishBlockprobeButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.publishBlockprobeButton{
    background:rgb(4, 59, 2);
    color:rgb(219, 243, 242);
    margin-left:1em;
    margin-top:0;
    size:2.6em;
    border:none;
}

.publishBlockprobeButton:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}