.draft-block-container{
    background: rgb(236, 236, 236);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.draft-box-entity-dropdown-container{
    width:75%; 
    height:auto; 
    font-size:1.4em; 
    margin-left:1em;
    margin-top:0.5em;
}

.draft-box-evidence-container{
    width:75%; 
    height:auto; 
    font-size:1.4em; 
    margin-left:1em;
    margin-top:0.5em;
}

.addEntityButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:6em;
    margin-top:0;
    size:2.6em;
    border:none;
}

.addEvidenceButton{
    background:rgb(2, 1, 54);
    color:rgb(219, 243, 242);
    margin-left:1.5em;
    margin-top:1.5em;
    size:2.6em;
    border:none;
}

.draft-add-new-entity-container{
    display:flex; 
    flex-direction:row;
    margin-top:1em;
    margin-bottom:1em;
    height:auto;
}