.imageDissectContainer{
    max-width: 50vw; 
    max-height: 50vw;
    border: 1px solid black;
    margin-left: 1em;
}

.imageToDissect{
    height: 100%;
    width: 100%;
  }

.lineS{
    border-radius: 30px;
    transition: 0.2s opacity;
    opacity: 0.75;
}


.circle_dissectPicture{
    width: 17px;
    height: 17px;
    transition: 0.2s;
    background: white;
}

.circle_dissectPicture:hover{
    width: 30px;
    height: 30px;
    background: rgb(3, 168, 245)
}

.circle_dissectPicture_clickable{
    cursor: pointer;
}

.rectangle_dissectPicture{
    width: 5px;
    height: 5px;
    transition: 0.2s;
    background: rgb(102, 0, 102);
}

.rectangle_dissectPicture:hover{
    width: 7px;
    height: 7px;
    background: rgb(163, 20, 20)
}

.rectangle_dissectPicture_clickable{
    cursor: pointer;
}

.imageToDissect_addBlock{
    opacity: 0.5;
}