.imageDissectContainer{
    width: 50vw; 
    height: 50vw;
    border: 1px solid black;
}

.imageToDissect{
    height: 100%;
    width: 100%;
  }

.lineS{
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s opacity;
    opacity: 0.6;
}

.lineS:hover{
    opacity: 1;
}