.imageDissectContainer{
    max-width: 50vw; 
    max-height: 50vw;
    border: 1px solid black;
}

.imageToDissect{
    height: 100%;
    width: 100%;
  }

.lineS{
    border-radius: 30px;
    transition: 0.2s opacity;
    opacity: 0.75;
}


.circle_dissectPicture{
    width: 17px;
    height: 17px;
    transition: 0.2s;
    background: white;
}

.circle_dissectPicture:hover{
    width: 30px;
    height: 30px;
    background: rgb(3, 168, 245)
}

.circle_dissectPicture_clickable{
    cursor: pointer;
}

.imageToDissect_addBlock{
    opacity: 0.5;
}