.bulk-draft-options-container{
    display:flex; 
    flex-direction:row;
    margin-top:1em;
    margin-bottom:1em;
    height:auto;
}

.bulkDraftBlocksPaneContainer{
    border: 0.5px solid darkgrey;
    margin: 0 5px 20px 5px;
    padding: 8px 0 8px 0;
}

.bulkDraftBlocksPaneTitle{
    margin-left: 1em;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.tooltips-bulkdraft{
    color:rgb(0, 76, 78);
    cursor: pointer;
}

.tooltips-list-bulkdraft{
    font-size: 14px; 
    color: rgb(0, 76, 78);
}

.tooltips-list-bulkdraft > li{
    margin-bottom: 6px;
}

.processingDraftBlockText{
    font-size: 20px; 
    color: grey;
}

.advancedImageOption{
    color:rgb(219, 243, 242);
    margin-left:1.5em;
    margin-top:1.5em;
    size:2.6em;
    border:none;
}

.advancedImageOption:hover{
    box-shadow: 2px 2px 10px 2px rgb(95, 95, 95);
}

.advancedImageOptionSelected{
    background:rgb(12, 52, 231);
    opacity: 1;
}

.advancedImageOptionUnselected{
    background:rgb(66, 93, 209);
    opacity: 0.7;
}